.nav {
  position: absolute;
  width: 80%;
  height: 5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 3rem 5rem;
  z-index: 1;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin-right: 7rem;
}

.nav__img {
  width: 100%;
  height: 1.5rem;
}

.nav__items {
  list-style: none;
  color: white;
}

.nav__link {
  font-size: 1.6rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  border-width: 2rem;
  transition: 0.2s ease-out;
  padding: 0;
}

.nav__link:not(:last-child) {
  margin-right: 3rem;
}

.nav__link:hover {
  border-radius: 0;
  border-bottom: 2px solid white;
}

.nav__toggle {
  display: none;
}

@media only screen and (max-width: 500px) {
  .nav {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  .nav__img {
    width: 7.5rem;
    height: 1.5rem;
  }
  .nav__items {
    display: none;
  }

  .nav__toggle {
    display: flex;
  }
}

.slider {
  height: 70vh;
  display: flex;
  justify-content: center;
}

.slider__left-section {
  width: 60vw;
  height: 100%;
}

.slider__left-section__image {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: cover;
}

.slider__right-section {
  position: relative;
  width: 40vw;
  background-color: white;
}

.slider__right-section__content {
  height: 100%;
  display: flex;
  padding: 7rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slider__right-section__content-heading {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.1px;
  margin-bottom: 2rem;
}

.slider__right-section__content-paragraph {
  font-size: 1.4rem;
  color: gray;
  margin-bottom: 2rem;
}

.slider__right-section__btn {
  display: flex;
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.slider__right-section__btn:hover {
  transform: translateX(1rem);
}

.slider__right-section__slider-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: start;
}

.slider-btn {
  border: none;
  width: 10.6vh;
  height: 10.6vh;
  background-color: black;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-btn:hover {
  background-color: gray;
  cursor: pointer;
}

.slider-btn__icon {
  height: 4rem;
}

@media only screen and (max-width: 1480px) {
  .slider__right-section__content {
    padding: 3rem;
  }
}

@media only screen and (max-width: 980px) {
  .slider__right-section__content {
    padding: 3rem;
  }

  .slider__right-section__content-heading {
    font-size: 3rem;
    line-height: 1.15;
  }
}

@media only screen and (max-width: 870px) {
  .slider__right-section__content {
    padding: 2rem;
  }

  .slider__right-section__content-heading {
    font-size: 2.5rem;
    line-height: 1.15;
  }
}

@media only screen and (max-width: 750px) {
  .slider {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .slider__left-section {
    height: 100%;
    width: 100vw;
    background: url("./images/desktop-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .slider__right-section {
    position: relative;
    height: 100%;
    width: 100vw;
    background-color: white;
  }

  .slider__right-section__slider-btn {
    position: absolute;
    top: 0;
    transform: translateY(-8.5vh);
  }

  .slider__right-section__content {
    height: 100%;
    display: flex;
    padding: 7rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .slider__right-section__content-heading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.1px;
    margin: 2rem 0;
  }

  .slider__right-section__content-paragraph {
    font-size: 1.4rem;
    color: gray;
    margin-bottom: 2rem;
  }
}

.about {
  height: 30vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.about__left {
  flex: 1;
  background-image: url("./images/image-about-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__middle {
  flex: 1.12;
  padding: 3rem 5rem;
  align-self: center;
}

.about__middle_heading {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 1.5px;
}

.about__middle_paragraph {
  color: gray;
  font-size: 1.4rem;
}

.about__right {
  flex: 1;
  background-image: url("./images/image-about-light.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 750px) {
  .about {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about__left {
    height: 100%;
    width: 100%;
  }
  .about__middle {
    height: 100%;
    padding: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .about__middle_heading {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .about__middle_paragraph {
    color: gray;
    font-size: 1.4rem;
  }

  .about__right {
    height: 100%;
    width: 100%;
    background-image: url("./images/image-about-light.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
