@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

// Colors
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-gray-dark: hsl(0, 0%, 63%);
$clr-gray-very-dark: hsl(0, 0%, 27%);
// Font
$ff-primary: 'Roboto',
sans-serif;


* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem => 10px

    @media only screen and (max-width: 1400px) {
        font-size: 55%;
    }
}

body {
    min-height: 100vh;
    font-family: $ff-primary;
}